// == Brand Colors
$Alabaster:#F8F8F8;
$AlabasterDark:#F7F7F7;
$WaikawaGray:#5B6887;
$PrussianBlue:#002A55;
$PictonBlue:#3F99EA;
$PrussianBlue:#002A55;
$WildBlueYonder:#7F8FB2;
$RedViolet:#CB1663;
$Heather:#B2BFCC;
$Jumbo:#86868A;
$PoloBlue:#88ABCB;
$DoveGray:#666666;
$AliceBlue:#F6FBFF;
$Mercury:#E3E3E3;
$WildBlueYonder:#7F8FB2;
// == Component Variables
$arialMT:'ArialMT';
$ariaBoldlMT:'ArialBoldMT';
$main-layout-bg:$AlabasterDark;
$dashboard-layout-bg:$AlabasterDark;
// Home Nav
$home-nav-bg:#fff;
$home-nav-link-color:$WaikawaGray;
// Dashboard Nav
$dashboard-nav-bg:#fff;
$dashboard-nav-link-color:$WaikawaGray;
// Home Header
$home-header-bg:$PrussianBlue;
$home-header-name-color:$PictonBlue;
$home-header-title-color:#fff;
$home-header-description-color:$WildBlueYonder;
