/* Home Nav Component */

@import '../../resources/assets/scss/loader';
.home-nav {
  background: $home-nav-bg;
  display: flex;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
  &__hamburger {
    cursor: pointer;
    float: right;
    display: none;
    width: 40px;
    height: 40px;
    margin: 9px;
    border: none;
    outline: none;
    background: transparent;
    position: relative;
    z-index: 9;
    &-line {
      display: block;
      width: 100%;
      height: 3px;
      background: #002a55;
      margin-top: 4px;
      &:first-child {
        margin-top: 0;
      }
    }
    &--active {
      .home-nav__hamburger-line {
        background: #CB1663;
      }
    }
    @media(max-width: 730px) {
      display: block;
    }
  }
  @media(max-width: 730px) {
    display: inline-block;
    width: 100%;
  }
  &__logo {
    display: block;
    width: 117px;
    height: 50px;
    background: url(../../resources/assets/images/home-nav-logo.svg);
    margin: 4px 23px;
    @media(max-width: 730px) {
      width: 50px;
      float: left;
    }
  }
  &__list {
    margin-left: auto;
    display: flex;
    @media(max-width: 730px) {
      width: 100%;
      display: none;
      flex-direction: column;
    }
    &--visible {
      @media(max-width: 730px) {
        display: flex;
      }
    }
    &-item {
      display: flex;
      @media(max-width: 730px) {
        width: 100%;
        border-top: 1px solid #f4f3f3;
      }
      &:not(:last-child) {
        border-right: solid 1px #eaeaea;
      }
      &--has-border {
        @media(min-width: 730px) {
          border-left: 1px solid #eaeaea!important;
        }
      }
      &-link {
        cursor: pointer;
        display: flex;
        align-items: flex-end;
        padding: 22px 15px;
        font-size: em(14);
        text-decoration: none;
        color: $home-nav-link-color;
        font-family: $arialMT;
        cursor: pointer;
        outline: none;
        @media(max-width: 730px) {
          width: 100%;
        }
        &.active {
          background: #f4f3f3;
        }
        img {
          margin-right: 10px;
        }
        span {
          line-height: 12px;
          margin-bottom: -2px;
        }
      }
    }
  }
  &__userpanel {
    position: relative;
    &-role {
      display: block;
    }
    &-info {
      position: relative;
      height: 60px;
      cursor: pointer;
      display: flex;
      align-items: center;
      background: $RedViolet;
      padding: 0 15px;
    }
    &-name {
      font-family: $arialMT;
      font-size: em(14);
      letter-spacing: -0.1px;
      color: #ffffff;
      display: flex;
      align-items: center;
      &:after {
        content: '';
        display: block;
        height: 20px;
        width: 20px;
        background: url(../../resources/assets/images/icons/user-panel-arrow.svg)no-repeat center center;
      }
    }
    &-avatar {
      width: 32px;
      height: 32px;
      display: block;
      overflow: hidden;
      border-radius: 50px;
      background: {
        image: url('../../resources/assets/images/user.svg');
        color: white;
        repeat: no-repeat;
      }
      background-size: cover!important;
      img {
        width: 100%;
      }
    }
    &-dropdown {
      position: absolute;
      width: 100%;
      background: #fff;
      display: none;
      &--visible {
        display: block;
      }
      &-item {
        width: 100%;
        &:not(:last-child) {
          border-bottom: solid 1px #f4f3f3;
        }
      }
      &-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: em(10);
        cursor: pointer;
        img {
          margin-right: 13px;
          margin-left: 3px;
        }
      }
    }
  }
}
